/*topnavbar*/
.sub_txt{
    font-size: 12px;
}
.navbar{
    background: #016bb9;min-height: 50px;
}
.navbar-brand{
    padding: 12px 10px !important;
}
.ace-nav>li{
    line-height: 50px;height: 50px;
}
.navbar-container{
    padding-right: 0px;
}
/**/
/*side menu*/
.nav-list>li>a>.menu-icon{
    float: left;
}
#sidebar-shortcuts{
    display: none;
}
.no-skin .sidebar{
    border-color: #f2f2f2;
}
/*.no-skin .sidebar{
    background-color: #535353;
}
.no-skin .nav-list>li>a{
    background-color: #535353;color: #ffffff;
}
.nav-list li.active>a::after{
    top: 8px;border-width: 11px 9px;
}*/
/**/
/*g*/
#ace-settings-container{
    display: none;
}
/**/
/*current financial*/
.ui-jqgrid .ui-jqgrid-pager{
    border: none !important;
}
.ui-jqgrid .ui-jqgrid-btable{
    border: none;
}
.ui-jqgrid .ui-jqgrid-titlebar-close{
    display: none;
}
.ui-jqgrid .ui-jqgrid-bdiv{
    height: 100% !important;
}
/**/
/*footer*/
.footer .footer-inner .footer-content{
    border: none;
    /*position: static;*/
}
/*.footer{
    float: left;width: 100%;height: auto;background-color: #535353;
    color: #ffffff;padding: 0px;
}
.footer .footer-inner{
    position: static;float: left;width: 100%;height: auto;
}
.bigger-120{
    color: #c1c1c1;font-size: 14px !important;
}*/